html{
    background: linear-gradient(-95deg,#18940d,#853313,#1c8c99,#531ea9);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0% 50%
    }
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}
.nav{
    text-align: center;
    color: white;
}
.timer,
.stopwatch {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.timer h1,
.stopwatch h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    background-color: #b7b7b7;
    border-bottom: 1px solid #ccc;
}
.timer input[type="text"],
.timer p,
.stopwatch p {
    font-size: 32px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #f8f8f8;
    text-align: center;
    width: 100%;
}
.timer button,
.stopwatch button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
}
.timer button:hover,
.stopwatch button:hover {
    opacity: 0.8;
}
.timer button:active,
.stopwatch button:active {
    background-color: #c70c0c;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-weight: 300;
    color: rgb(221, 221, 221);
}
